.friends {
  width: 100%;
  height: 100vh;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: .2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(100% 92%, 0% 100%, 100% 100%);
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.8rem;
    line-height: 121%;
    color: var(--white);
  }
  &__swiper {
    margin-top: 15rem;
    overflow: visible;
    width: 100%;
    &-wrapper {
      transition-timing-function: linear;
    }
    &-slide {
      display: flex;
      max-width: 78rem;
      width: 100%;
      height: 39rem;
      cursor: pointer;
      &.odd {
        .friends__swiper-right {
          background: #2d2d2d;
          margin-top: 1rem;
          p,
          a {
            color: var(--white);
          }
          svg {
            path {
              fill: var(--white);
            }
          }
        }
      }
      &.even {
        .friends__swiper-right {
          background: #e6fb04;
          margin-top: -1rem;
          p,
          a {
            color: var(--black);
          }
          svg {
            path {
              fill: var(--black);
            }
          }
        }
      }
    }
    &-left,
    &-right {
      width: 50%;
      height: fit-content;
      border-radius: 1rem;
      overflow: hidden;
    }
    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      padding: 0 6rem;
      margin-left: -1rem;
      animation: friends 5s linear infinite;
      aspect-ratio: 1;
      p,
      a {
        font-size: 1.8rem;
        line-height: 167%;
        text-align: center;
        opacity: 0.6;
      }
      p {
        font-weight: 400;
      }
      a {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }
    }
    &-left {
      animation: friends-reverse 5s linear infinite;
      img{
        width: 100%;
        aspect-ratio: 1;
      }
    }
    @keyframes friends {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(3deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    @keyframes friends-reverse {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(-3deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
  .marque {
    background: var(--yellow);
  }
}
