:root {
  --vh: 100lvh;

  // Font Family
    --font-family: "Montserrat", sans-serif;
    --second-family: "Dela Gothic One", sans-serif;

  // Colors
  --light-color: #e7e7e7;
  --dark-color: #000;
  --orange-color: #f37c57;
  --grey-color: #757575;
}
