<footer class="footer">
  <div class="footer__inner">
    <div class="footer__logo">
      @@include('../components/logo.html')
      <span>© 2022 unclechill.uz</span>
    </div>
    <div class="footer__contacts">
      <p class="footer__contacts-heading">МЫ В СОЦ СЕТЯХ</p>
      @@include('../shared/contacts.html')
      <div class="footer__contacts-alex">
        <img src="./img/footer/svg.svg" alt="" />
      </div>
    </div>
    <ul class="footer__nav">
      <li class="footer__nav-item"><a href="">О НАС</a></li>
      <li class="footer__nav-item"><a href="">УСЛУГИ</a></li>
      <li class="footer__nav-item"><a href="">ПРОДУКЦИЯ</a></li>
      <li class="footer__nav-item"><a href="">МАСТЕРА</a></li>
      <li class="footer__nav-item"><a href="">КАПСУЛА</a></li>
      <li class="footer__nav-item"><a href="">АКЦИИ</a></li>
      <li class="footer__nav-item"><a href="">КОНТАКТЫ</a></li>
    </ul>
    <div class="footer__info">
      <div class="footer__info-wrap">
        <p>ТЕЛЕФОН</p>
        <a href="tel:998977766692">+998 (97) 776-66-92</a>
      </div>
      <div class="footer__info-wrap">
        <p>РЕЖИМ РАБОТЫ</p>
        <span>С 10:00 ДО 22:00</span>
      </div>
      <div class="footer__info-wrap">
        <p>АДРЕС</p>
        <span>Г. ТАШКЕНТ, УЛ.МАТБУОТЧИЛАР, 17 ТРЦ ЗАРАФШАН</span>
      </div>
    </div>
    <div class="footer__phone">
      <div class="footer__phone-svg">
        <img src="./img/footer/circle-text.svg" alt="" />
      </div>
      <div class="footer__phone-icon">
        <img src="./img/footer/phone.svg" alt="" />
      </div>
    </div>
    <div class="footer__img">
      <img src="./img/footer/img.png" alt="" />
    </div>
  </div>
</footer>
