<header class="header">
  <div class="header__inner">
    <div class="header__logo">@@include('../components/logo.html')</div>
    <div class="header__mid">
      <div class="header__contacts">
        <a class="header__contacts-item">@@include('../shared/insta.html')</a>
        <a class="header__contacts-item">@@include('../shared/facebook.html')</a>
        <a class="header__contacts-item">@@include('../shared/telegram.html')</a>
      </div>
      <div class="header__menu">
        <div class="header__menu-text">
          <p data-repeat="6">МЕНЮ</p>
        </div>
        <div class="header__menu-burger">
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header__lang">
        <a>РУ</a>
        <a>O`Z</a>
        <a>EN</a>
      </div>
    </div>
    <a href="tel:998977766692" class="header__phone">+998 (97) 776-66-92</a>
  </div>
</header>
