.button {
  margin-top: 100px;
  position: relative;
  background: var(--yellow);
  width: max-content;
  border-radius: 0.5rem;
  padding: 3rem 4.5rem 3rem 5rem;
  cursor: pointer;
  button {
    font-weight: 600;
    font-size: 2rem;
    line-height: 110%;
    color: var(--black);
  }
  img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 6rem;
    height: 5.5rem;
    pointer-events: none;
  } 
}
